#execution-time, #version
{
    color: gray;
    position: fixed;
    left: 0px;
    bottom: 0px;
    font-size: 8pt;
    padding: 5px;
}

#version
{
    right: 0px;
    left: unset;
    padding: 5px;
}

#version ul
{
    padding-inline-start: 20px;
}

#version ul:first-child
{
    list-style: none;
    display: none;
    text-align: left;
}

#version:hover ul:first-child
{
    display: block;
    position: absolute;
    right: 0px;
    bottom: 10px;
    padding: 5px;
}

#version li i
{
    padding-right: 5px;
}